.empty {
  padding: 60px 30px;
  text-align: center;

  background: white;

  border: 1px solid #e5e7eb;

  border-radius: 12px;
}

.icon {
  font-size: 35px;
  margin-bottom: 10px;
}

h3 {
  margin: 0;
}

p {
  color: #6b7280;
}
