<div class="page-header">

  <h2>Analyze Log</h2>

  <p>
    Upload a production log for analysis.
  </p>

</div>


<section class="upload-panel">

  <div class="upload-icon">
    📄
  </div>

  <h3>
    Upload Log Files
  </h3>

  <p>
    Supported formats: .log, .txt (Select multiple files to analyze them together)
  </p>


  <label class="file-button">

    Choose Files

    <input
      type="file"
      hidden
      multiple
      accept=".log,.txt"
      (change)="onFilesSelected($event)"
    />

  </label>


  @if (selectedFiles.length > 0) {

    <div class="selected-files-list">
      @for (file of selectedFiles; track file.name; let i = $index) {
        <div class="selected-file">
          <div class="file-info">
            <strong>{{ file.name }}</strong>
            <span>{{ file.size / 1024 | number:'1.0-2' }} KB</span>
          </div>
          <button class="remove-file" (click)="removeFile(i)" [disabled]="loading">✕</button>
        </div>
      }
    </div>

  }


  @if (error) {

    <div class="error-message">

      {{ error }}

    </div>

  }


  <button
    class="analyze-button"
    [disabled]="selectedFiles.length === 0 || loading"
    (click)="analyze()">

    {{ loading ? 'Analyzing ' + selectedFiles.length + ' files...' : 'Analyze Logs' }}

  </button>

</section>
