<div class="app-shell">

  <aside class="sidebar">

    <div class="brand">

      <div class="brand-icon">
        C
      </div>

      <div>

        <strong>
          COE Analyzer
        </strong>

        <small>
          Log Intelligence
        </small>

      </div>

    </div>


    <nav>

      <a
        routerLink="/dashboard"
        routerLinkActive="active">

        Dashboard

      </a>


      <a
        routerLink="/analyze"
        routerLinkActive="active">

        Analyze Logs

      </a>


      <a
        routerLink="/analysis"
        routerLinkActive="active">

        Analysis Summary

      </a>


      <a
        routerLink="/errors"
        routerLinkActive="active">

        Error Groups

      </a>


      <a
        routerLink="/anomalies"
        routerLinkActive="active">

        Anomalies

      </a>


      <a
        routerLink="/timeline"
        routerLinkActive="active">

        Timeline

      </a>


      <a
        routerLink="/rca"
        routerLinkActive="active">

        AI RCA

      </a>


      <a
        routerLink="/incident-report"
        routerLinkActive="active">

        Incident Report

      </a>


      <a
        routerLink="/deployment-comparison"
        routerLinkActive="active">

        Deployment Comparison

      </a>

    </nav>

  </aside>


  <main class="main-content">

    <header class="topbar">

      <div>

        <h1>
          COE Log Analyzer
        </h1>

        <span>
          Production Log Intelligence Platform
        </span>

      </div>


      <div class="system-status">

        <span class="status-dot"></span>

        System Ready

      </div>

    </header>


    <section class="page-content">

      <router-outlet></router-outlet>

    </section>

  </main>

</div>
